<%= form_for @lightfood do |f| %>
<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :address %><br>
<%= f.text_field :address %>
</p>
<p>
<%= f.label :text %><br>
<%= f.text_area :text %>
</p>
<p>
<%= f.label :imagelink %><br>
<%= f.text_field :imagelink %>
</p>
<p>
<%= f.label :webpage %><br>
<%= f.text_field :webpage %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>

<% if @lightfood.errors.any? %>
<div id="error_explanation">
<h2>
<%= pluralize(@lightfood.errors.count, "error") %> prohibited
this article from being saved:
</h2>
<ul>
<% @lightfood.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>